body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #5c3333;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  margin: 20px auto;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #663d3d;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  border-radius: 5px;
}

.cell.added {
  transform: scale(1.2);
  background-color: #a36666;
}

.cell.removed {
  transform: scale(0.8);
  background-color: #f44336;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  background-color: #693e3e;
}

.player-turn {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.game-result {
  font-size: 1.5em;
  text-shadow: #1b2017 1px 1px 0;
  margin-top: 10px;
  color: #446330;
}